*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:darkblue;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(216, 216, 216)
}

.flex-gap-12 {
    display: flex;
    gap: 12px;

    align-items: center;
}

.flex-gap-16 {
    display: flex;
    gap: 12px;
}


button {
    outline: none;
}

.nav-bar {
    height: 100px;
    
    display: flex;
    /* ปรับแนวแกนx */
    justify-content: space-between;
    /* ปรับแนวแกนy */
    align-items: center;

    padding-inline: 40px;
    margin-bottom: 10px;
}

.py-10 {
    padding-block: 10px;
}

.px-14 {
    padding-inline: 10px;
}

.rounded-full {
    border-radius: 100px;
}

.cursor-pointer {
cursor: pointer;
}

.flex-1 {
    flex: 1;
}

.btn-1 {
    border-color: 1.5px solid var(--primary-color);
    background: transparent;
}

.btn-2 {
    background: var(--primary-color);
    color: white;
    border-color: none;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
    overflow: hidden;

    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.profile {
    position: relative;
}

.noti {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background: red;
    color: white;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-items: center;

    position: absolute;
    top: -3px;
    right: 3px;
    border: 1px solid white;
}

.container-main {
    margin: 10px;
    padding: 40px;

    display: flex;
    gap: 30px;
}

.container-1 {
background:#eee;
border-radius: 30px;
}

.content-1 {
    p{
        color: #828282;
}
}

.head-content-1 {
    display: inline-block;
    font-size: 12px;

    border-radius: 100px;
    border: 1.5px solid black;
}

.head-content-2 {
    margin: 30px 0 10px;
}

.container-img {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.margin {
    margin-block: 30px;
}

.content-2 {
    display: flex;
    gap: 40px;

    p {
        color: #828282;
    }
}

.h1-content-2 {
    font-size: 46px;
}

.container-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
}

.content-list {
    display: flex;
    align-items: center;
    gap: 8px;
    

    p { 
    color: var(--primary-color);
    }
    .dots {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--primary-color);
    }
}

